<a href="https://colab.research.google.com/github/awol380/Machine-Learning-2410-Assignment-Group1/blob/main/Phase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting XYZ
## Phase 1: Data Pre-processing, Exploration and Visualisation <br>
### Group Name: ProjectGroup 1
### Adam Wall s3923668
### Kushgar Singh s4027002
### Ayush Tripathi s3941245

## Table of Contents

## Introduction
### Dataset Source:

The source of the dataset on Vehicle Fuel Economy was Kaggle (MAHARAJ, 2024).  The vehicles included in the dataset include models from 1984 to 2017.

### Dataset Details:
The original dataset has 81 features such as transmission, cyclinders, fuel type, fuel consumption and cO2 emissions. There are 38,113 records. The dataset lists one car per record which are independent of each other.

### Dataset Features:
### Target Feature:

In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
# see all the columns
pd.set_option('display.max_columns', None)

In [2]:
url = 'https://raw.githubusercontent.com/awol380/Machine-Learning-2410-Assignment-Group1/main/fuel.csv'
data = pd.read_csv(url)

In [3]:
data

,vehicle_id,year,make,model,class,drive,transmission,transmission_type,engine_index,engine_descriptor,engine_cylinders,engine_displacement,turbocharger,supercharger,fuel_type,fuel_type_1,fuel_type_2,city_mpg_ft1,unrounded_city_mpg_ft1,city_mpg_ft2,unrounded_city_mpg_ft2,city_gasoline_consumption_cd,city_electricity_consumption,city_utility_factor,highway_mpg_ft1,unrounded_highway_mpg_ft1,highway_mpg_ft2,unrounded_highway_mpg_ft2,highway_gasoline_consumption_cd,highway_electricity_consumption,highway_utility_factor,unadjusted_city_mpg_ft1,unadjusted_highway_mpg_ft1,unadjusted_city_mpg_ft2,unadjusted_highway_mpg_ft2,combined_mpg_ft1,unrounded_combined_mpg_ft1,combined_mpg_ft2,unrounded_combined_mpg_ft2,combined_electricity_consumption,combined_gasoline_consumption_cd,combined_utility_factor,annual_fuel_cost_ft1,annual_fuel_cost_ft2,gas_guzzler_tax,save_or_spend_5_year,annual_consumption_in_barrels_ft1,annual_consumption_in_barrels_ft2,tailpipe_co2_ft1,tailpipe_co2_in_grams_mile_ft1,tailpipe_co2_ft2,tailpipe_co2_in_grams_mile_ft2,fuel_economy_score,ghg_score,ghg_score_alt_fuel,my_mpg_data,x2d_passenger_volume,x2d_luggage_volume,x4d_passenger_volume,x4d_luggage_volume,hatchback_passenger_volume,hatchback_luggage_volume,start_stop_technology,alternative_fuel_technology,electric_motor,manufacturer_code,gasoline_electricity_blended_cd,vehicle_charger,alternate_charger,hours_to_charge_120v,hours_to_charge_240v,hours_to_charge_ac_240v,composite_city_mpg,composite_highway_mpg,composite_combined_mpg,range_ft1,city_range_ft1,highway_range_ft1,range_ft2,city_range_ft2,highway_range_ft2
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001,(FFS),6.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17,0.0000,0,0.0000,0.0000,0.0,0.000,24,0.0000,0,0.00,0.0000,0.0,0.00,21.0000,34.0000,0.0,0.0,20,0.0000,0,0.0000,0.0,0.0000,0.000,1750,0,NaN,-2000,16.480500,0.000000,-1,444.350000,-1,0.0,-1,-1,-1,N,74,7,0,0,0,0,NaN,NaN,NaN,NaN,False,NaN,NaN,0,0.0,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005,(FFS) CA model,6.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17,0.0000,0,0.0000,0.0000,0.0,0.000,24,0.0000,0,0.00,0.0000,0.0,0.00,21.0000,34.0000,0.0,0.0,20,0.0000,0,0.0000,0.0,0.0000,0.000,1750,0,NaN,-2000,16.480500,0.000000,-1,444.350000,-1,0.0,-1,-1,-1,N,74,7,0,0,0,0,NaN,NaN,NaN,NaN,False,NaN,NaN,0,0.0,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002,(FFS),4.0,2.0,NaN,NaN,Regular,Regular Gasoline,NaN,18,0.0000,0,0.0000,0.0000,0.0,0.000,25,0.0000,0,0.00,0.0000,0.0,0.00,23.0000,35.0000,0.0,0.0,21,0.0000,0,0.0000,0.0,0.0000,0.000,1650,0,NaN,-1500,15.695714,0.000000,-1,423.190476,-1,0.0,-1,-1,-1,N,0,0,0,0,0,0,NaN,NaN,NaN,NaN,False,NaN,NaN,0,0.0,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006,(FFS) CA model,4.0,2.0,NaN,NaN,Regular,Regular Gasoline,NaN,18,0.0000,0,0.0000,0.0000,0.0,0.000,25,0.0000,0,0.00,0.0000,0.0,0.00,23.0000,35.0000,0.0,0.0,21,0.0000,0,0.0000,0.0,0.0000,0.000,1650,0,NaN,-1500,15.695714,0.000000,-1,423.190476,-1,0.0,-1,-1,-1,N,0,0,0,0,0,0,NaN,NaN,NaN,NaN,False,NaN,NaN,0,0.0,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,18,0.0000,0,0.0000,0.0000,0.0,0.000,17,0.0000,0,0.00,0.0000,0.0,0.00,22.0000,24.0000,0.0,0.0,17,0.0000,0,0.0000,0.0,0.0000,0.000,2050,0,NaN,-3500,19.388824,0.000000,-1,522.764706,-1,0.0,-1,-1,-1,N,0,0,0,0,0,0,NaN,NaN,NaN,NaN,False,NaN,NaN,0,0.0,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,37564,2017,Volvo,XC60 FWD,Small Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),NaN,90,SIDI,4.0,2.0,True,NaN,Regular,Regular Gasoline,NaN,23,22.6786,0,0.0000,0.0000,0.0,0.000,30,30.3494,0,0.00,0.0000,0.0,0.00,29.0000,43.5000,0.0,0.0,26,25.5890,0,0.0000,0.0,0.0000,0.000,1350,0,NaN,0,12.677308,0.000000,348,348.000000,-1,0.0,6,6,-1,N,0,0,99,34,0,0,NaN,NaN,NaN,NaN,False,NaN,NaN,0,0.0,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
38109,37547,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,52,SIDI,4.0,2.0,True,NaN,Premium,Premium Gasoline,NaN,20,20.4122,0,0.0000,0.0000,0.0,0.000,25,24.5622,0,0.00,0.0000,0.0,0.00,25.8739,36.3864,0.0,0.0,22,22.0919,0,0.0000,0.0,0.0000,0.000,1900,0,NaN,-2750,14.982273,0.000000,399,399.000000,-1,0.0,5,5,-1,N,0,0,0,0,0,0,NaN,NaN,NaN,NaN,False,NaN,NaN,0,0.0,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
38110,37548,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,53,SIDI,4.0,2.0,True,NaN,Premium,Premium Gasoline,NaN,22,21.7000,0,0.0000,0.0000,0.0,0.000,25,24.7000,0,0.00,0.0000,0.0,0.00,27.5000,39.0000,0.0,0.0,23,22.9546,0,0.0000,0.0,0.0000,0.000,1850,0,NaN,-2500,14.330870,0.000000,384,384.000000,-1,0.0,5,5,-1,N,0,0,0,0,0,0,NaN,NaN,NaN,NaN,False,NaN,NaN,0,0.0,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
38111,37703,2017,Volvo,XC90 AWD PHEV,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,54,SIDI; PHEV,4.0,2.0,True,NaN,Premium and Electricity,Premium Gasoline,NaN,24,23.7174,54,58.5962,0.0541,60.0,0.351,27,26.9530,56,57.33,0.0442,60.0,0.34,30.4711,38.1739,82.2,82.0,25,25.0718,54,58.0196,60.0,0.0983,0.346,1700,0,NaN,-750,8.652550,6.103889,238,238.000000,-1,0.0,7,8,-1,N,0,0,0,0,0,0,NaN,Plug-in Hybrid,NaN,NaN,True,NaN,NaN,0,3.0,0.0,29,32,30,0,0.0,0.0,NaN,13.84,13.3
38112,37687,2017,Volvo,XC90 FWD,Standard Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),NaN,50,SIDI,4.0,2.0,True,NaN,Premium,Premium Gasoline,NaN,22,22.1000,0,0.0000,0.0000,0.0,0.000,26,25.8000,0,0.00,0.0000,0.0,0.00,28.1000,41.7000,0.0,0.0,24,23.6246,0,0.0000,0.0,0.0000,0.000,1750,0,NaN,-2000,13.733750,0.000000,373,373.000000,-1,0.0,5,5,-1,N,0,0,0,0,0,0,NaN,NaN,NaN,NaN,False,NaN,NaN,0,0.0,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0

In [4]:
data.shape

(38113, 81)

In [5]:
data.columns.to_list()

['vehicle_id',
 'year',
 'make',
 'model',
 'class',
 'drive',
 'transmission',
 'transmission_type',
 'engine_index',
 'engine_descriptor',
 'engine_cylinders',
 'engine_displacement',
 'turbocharger',
 'supercharger',
 'fuel_type',
 'fuel_type_1',
 'fuel_type_2',
 'city_mpg_ft1',
 'unrounded_city_mpg_ft1',
 'city_mpg_ft2',
 'unrounded_city_mpg_ft2',
 'city_gasoline_consumption_cd',
 'city_electricity_consumption',
 'city_utility_factor',
 'highway_mpg_ft1',
 'unrounded_highway_mpg_ft1',
 'highway_mpg_ft2',
 'unrounded_highway_mpg_ft2',
 'highway_gasoline_consumption_cd',
 'highway_electricity_consumption',
 'highway_utility_factor',
 'unadjusted_city_mpg_ft1',
 'unadjusted_highway_mpg_ft1',
 'unadjusted_city_mpg_ft2',
 'unadjusted_highway_mpg_ft2',
 'combined_mpg_ft1',
 'unrounded_combined_mpg_ft1',
 'combined_mpg_ft2',
 'unrounded_combined_mpg_ft2',
 'combined_electricity_consumption',
 'combined_gasoline_consumption_cd',
 'combined_utility_factor',
 'annual_fuel_cost_ft1',
 'annual_fuel_cost_ft2',
 'gas_guzzler_tax',
 'save_or_spend_5_year',
 'annual_consumption_in_barrels_ft1',
 'annual_consumption_in_barrels_ft2',
 'tailpipe_co2_ft1',
 'tailpipe_co2_in_grams_mile_ft1',
 'tailpipe_co2_ft2',
 'tailpipe_co2_in_grams_mile_ft2',
 'fuel_economy_score',
 'ghg_score',
 'ghg_score_alt_fuel',
 'my_mpg_data',
 'x2d_passenger_volume',
 'x2d_luggage_volume',
 'x4d_passenger_volume',
 'x4d_luggage_volume',
 'hatchback_passenger_volume',
 'hatchback_luggage_volume',
 'start_stop_technology',
 'alternative_fuel_technology',
 'electric_motor',
 'manufacturer_code',
 'gasoline_electricity_blended_cd',
 'vehicle_charger',
 'alternate_charger',
 'hours_to_charge_120v',
 'hours_to_charge_240v',
 'hours_to_charge_ac_240v',
 'composite_city_mpg',
 'composite_highway_mpg',
 'composite_combined_mpg',
 'range_ft1',
 'city_range_ft1',
 'highway_range_ft1',
 'range_ft2',
 'city_range_ft2',
 'highway_range_ft2']

In [6]:
data = data.loc[:,['vehicle_id','year','make','model','class','drive','transmission','engine_cylinders','engine_displacement','fuel_type','fuel_type_1','city_mpg_ft1','highway_mpg_ft1','highway_electricity_consumption','combined_mpg_ft1','combined_electricity_consumption','annual_fuel_cost_ft1','annual_consumption_in_barrels_ft1','tailpipe_co2_in_grams_mile_ft1','start_stop_technology']]

In [7]:
data.shape

(38113, 20)

In [8]:
data.dtypes

vehicle_id                             int64
year                                   int64
make                                  object
model                                 object
class                                 object
drive                                 object
transmission                          object
engine_cylinders                     float64
engine_displacement                  float64
fuel_type                             object
fuel_type_1                           object
city_mpg_ft1                           int64
highway_mpg_ft1                        int64
highway_electricity_consumption      float64
combined_mpg_ft1                       int64
combined_electricity_consumption     float64
annual_fuel_cost_ft1                   int64
annual_consumption_in_barrels_ft1    float64
tailpipe_co2_in_grams_mile_ft1       float64
start_stop_technology                float64
dtype: object

In [9]:
data = data.set_index('vehicle_id')

In [10]:
data.isna().sum() #identify empty variables

year                                     0
make                                     0
model                                    0
class                                    0
drive                                 1189
transmission                            11
engine_cylinders                       136
engine_displacement                    134
fuel_type                                0
fuel_type_1                              0
city_mpg_ft1                             0
highway_mpg_ft1                          0
highway_electricity_consumption          0
combined_mpg_ft1                         0
combined_electricity_consumption         0
annual_fuel_cost_ft1                     0
annual_consumption_in_barrels_ft1        0
tailpipe_co2_in_grams_mile_ft1           0
start_stop_technology                38113
dtype: int64

In [11]:
data = data.drop(['start_stop_technology'], axis=1)

In [12]:
data = data.dropna() #low volumes of NA values, less than 10% of dataset. Many are categorical which cannot be imputed by numeric means.

In [13]:
data.nunique() #identify any constant columns

year                                   34
make                                  127
model                                3662
class                                  34
drive                                   7
transmission                           45
engine_cylinders                        9
engine_displacement                    65
fuel_type                              13
fuel_type_1                             5
city_mpg_ft1                           52
highway_mpg_ft1                        50
highway_electricity_consumption        24
combined_mpg_ft1                       49
combined_electricity_consumption       27
annual_fuel_cost_ft1                   58
annual_consumption_in_barrels_ft1     135
tailpipe_co2_in_grams_mile_ft1        590
dtype: int64

In [14]:
data.describe(include=object) #summarise categorical features

,make,model,class,drive,transmission,fuel_type,fuel_type_1
count,36794,36794,36794,36794,36794,36794,36794
unique,127,3662,34,7,45,13,5
top,Chevrolet,F150 Pickup 2WD,Compact Cars,Front-Wheel Drive,Automatic 4-Speed,Regular,Regular Gasoline
freq,3710,208,5253,13303,10785,24230,25503

In [15]:
categorical_features= list(data.columns[data.dtypes == object])

In [16]:
for feature in categorical_features:
  print(f'{feature}')
  print(data[feature].unique())
  print("\n")
  #engine_cylinders nan

make
['AM General' 'American Motors Corporation' 'Buick' 'Cadillac' 'Chevrolet'
 'Dodge' 'Ford' 'GMC' 'Grumman Olson' 'Import Foreign Auto Sales Inc'
 'Isuzu' 'Jeep' 'Mazda' 'Mitsubishi' 'Nissan' 'Plymouth'
 'S and S Coach Company  E.p. Dutton' 'Subaru'
 'Superior Coaches Div E.p. Dutton' 'Suzuki' 'Toyota' 'Volkswagen'
 'Alfa Romeo' 'Aston Martin' 'Audi' 'Bertone'
 'Bill Dovell Motor Car Company' 'BMW' 'Chrysler' 'E. P. Dutton, Inc.'
 'Ferrari' 'Honda' 'Jaguar' 'Lincoln' 'Lotus' 'Maserati' 'Mercedes-Benz'
 'Mercury' 'Merkur' 'Oldsmobile' 'Peugeot' 'Pininfarina' 'Pontiac'
 'Porsche' 'Renault' 'Rolls-Royce' 'Saab' 'TVR Engineering Ltd' 'Volvo'
 'Acura' 'Autokraft Limited' 'Bitter Gmbh and Co. Kg' 'Hyundai'
 'Lambda Control Systems' 'Lamborghini' 'London Coach Co Inc'
 'Panther Car Company Limited' 'Texas Coach Company' 'Vixen Motor Company'
 'Volga Associated Automobile' 'Yugo' 'ASC Incorporated' 'CCC Engineering'
 'CX Automotive' 'Excalibur Autos' 'Land Rover' 'Mcevoy Motors'
 'Red Shift Ltd.' 'Ruf Automobile Gmbh' 'Sterling' 'Aurora Cars Ltd'
 'Dacia' 'Daihatsu' 'Eagle' 'Grumman Allied Industries'
 'JBA Motorcars, Inc.' 'Environmental Rsch and Devp Corp'
 'Evans Automobiles' 'General Motors' 'Geo' 'Laforza Automobile Inc'
 'Saleen' 'Consulier Industries Inc' 'Infiniti' 'Lexus' 'Goldacre'
 'Import Trade Services' 'J.K. Motors' 'PAS, Inc' 'Saturn'
 'Wallace Environmental' 'Isis Imports Ltd' 'PAS Inc - GMC' 'Vector' 'Kia'
 'Panos' 'Dabryan Coach Builders Inc' 'Federal Coach'
 'Panoz Auto-Development' 'Bentley' 'Daewoo' 'Quantum Technologies'
 'Qvale' 'Roush Performance' 'MINI' 'Morgan' 'BMW Alpina' 'London Taxi'
 'Maybach' 'Scion' 'Spyker' 'Bugatti' 'Hummer' 'Saleen Performance'
 'Shelby' 'smart' 'Tecstar, LP' 'Mahindra' 'VPG' 'Fiat' 'Fisker'
 'McLaren Automotive' 'Ram' 'SRT' 'Mobility Ventures LLC' 'Pagani'
 'Genesis']


model
['DJ Po Vehicle 2WD' 'FJ8c Post Office' 'Eagle 4WD' ... 'S90 FWD'
 'V60 Polestar AWD' 'V90 CC AWD']


class
['Special Purpose Vehicle 2WD' 'Special Purpose Vehicle 4WD' 'Large Cars'
 'Standard Pickup Trucks 2WD' 'Vans, Passenger Type' 'Vans, Cargo Type'
 'Standard Pickup Trucks 4WD' 'Special Purpose Vehicles'
 'Small Pickup Trucks 2WD' 'Small Pickup Trucks 4WD' 'Minicompact Cars'
 'Two Seaters' 'Subcompact Cars' 'Midsize Cars'
 'Midsize-Large Station Wagons' 'Compact Cars' 'Small Station Wagons'
 'Vans' 'Standard Pickup Trucks' 'Small Pickup Trucks' 'Vans Passenger'
 'Standard Pickup Trucks/2wd' 'Special Purpose Vehicles/2wd'
 'Special Purpose Vehicles/4wd' 'Midsize Station Wagons'
 'Sport Utility Vehicle - 4WD' 'Sport Utility Vehicle - 2WD'
 'Minivan - 2WD' 'Minivan - 4WD' 'Special Purpose Vehicle'
 'Small Sport Utility Vehicle 4WD' 'Small Sport Utility Vehicle 2WD'
 'Standard Sport Utility Vehicle 4WD' 'Standard Sport Utility Vehicle 2WD']


drive
['2-Wheel Drive' '4-Wheel or All-Wheel Drive' 'Rear-Wheel Drive'
 'Front-Wheel Drive' '4-Wheel Drive' 'All-Wheel Drive'
 'Part-time 4-Wheel Drive']


transmission
['Automatic 3-Speed' 'Manual 4-Speed' 'Manual 5-Speed' 'Automatic 4-Speed'
 'Manual 3-Speed' 'Automatic (S4)' 'Manual 5 Speed' 'Manual 6-Speed'
 'Automatic (variable gear ratios)' 'Automatic 5-Speed' 'Automatic (S5)'
 'Auto(L4)' 'Auto(L3)' 'Automatic 6-Speed' 'Automatic (S6)'
 'Automatic 7-Speed' 'Automatic (S7)' 'Automatic (S8)' 'Automatic (AV)'
 'Auto(AM7)' 'Automatic (AM5)' 'Auto(AM6)' 'Automatic (AM6)'
 'Automatic (A6)' 'Auto(AV-S7)' 'Manual 7-Speed' 'Auto (AV-S6)'
 'Auto (AV-S8)' 'Automatic (AV-S6)' 'Auto(AV-S6)' 'Auto(AM5)' 'Auto (AV)'
 'Auto(AV-S8)' 'Automatic 8-Speed' 'Automatic (A1)' 'Auto(AM-S6)'
 'Auto(AM-S7)' 'Automatic 6Speed' 'Automatic 9-Speed' 'Automatic (S9)'
 'Auto(AM-S8)' 'Auto(AM8)' 'Manual(M7)' 'Auto(AM-S9)' 'Automatic (S10)']


fuel_type
['Regular' 'Diesel' 'Premium' 'CNG' 'Gasoline or natural gas'
 'Gasoline or E85' 'Gasoline or propane' 'Premium or E85'
 'Premium Gas or Electricity' 'Midgrade' 'Regular Gas and Electricity'
 'Premium and Electricity' 'Regular Gas or Electricity']


fuel_type_1
['Regular Gasoline' 'Diesel' 'Premium Gasoline' 'Natural Gas'
 'Midgrade Gasoline']

In [17]:
#Data prep for data['class'] feature
data['class'] = data['class'].str.replace('2WD','', case=False)
data['class'] = data['class'].str.replace('4WD','', case=False)
data['class'] = data['class'].str.replace('/','', case=False)
data['class'] = data['class'].str.replace(' -','', case=False)
data['class'] = data['class'].str.strip()
data['class'].unique()

array(['Special Purpose Vehicle', 'Large Cars', 'Standard Pickup Trucks',
       'Vans, Passenger Type', 'Vans, Cargo Type',
       'Special Purpose Vehicles', 'Small Pickup Trucks',
       'Minicompact Cars', 'Two Seaters', 'Subcompact Cars',
       'Midsize Cars', 'Midsize-Large Station Wagons', 'Compact Cars',
       'Small Station Wagons', 'Vans', 'Vans Passenger',
       'Midsize Station Wagons', 'Sport Utility Vehicle', 'Minivan',
       'Small Sport Utility Vehicle', 'Standard Sport Utility Vehicle'],
      dtype=object)

In [18]:
data['class'] = data['class'].str.replace('Special Purpose Vehicles','Special Purpose Vehicle')
data['class'] = data['class'].str.replace('Vans Passenger','Vans, Passenger Type')
data['class'] = data['class'].str.replace('Minivan','Vans, Passenger Type')
data['class'] = data['class'].str.replace('Standard ','')
data['class'].value_counts()

class
Compact Cars                    5253
Pickup Trucks                   4514
Subcompact Cars                 4484
Sport Utility Vehicle           4307
Midsize Cars                    4165
Special Purpose Vehicle         2371
Two Seaters                     1820
Large Cars                      1810
Small Station Wagons            1382
Minicompact Cars                1230
Small Pickup Trucks             1190
Vans                            1141
Small Sport Utility Vehicle      924
Vans, Passenger Type             700
Midsize-Large Station Wagons     640
Vans, Cargo Type                 438
Midsize Station Wagons           425
Name: count, dtype: int64

In [19]:
#Data prep for data['transmission'] feature
data['transmission'].value_counts()

transmission
Automatic 4-Speed                   10785
Manual 5-Speed                       7959
Automatic 3-Speed                    2720
Automatic (S6)                       2684
Manual 6-Speed                       2448
Automatic 5-Speed                    2191
Automatic 6-Speed                    1447
Manual 4-Speed                       1368
Automatic (S8)                        977
Automatic (S5)                        827
Automatic (variable gear ratios)      697
Automatic 7-Speed                     675
Automatic (S7)                        270
Auto(AM-S7)                           266
Automatic 8-Speed                     259
Automatic (S4)                        233
Auto(AM7)                             166
Auto(AV-S6)                           153
Auto(AM6)                             120
Automatic 9-Speed                     105
Auto(AM-S6)                            87
Auto(AV-S7)                            80
Manual 3-Speed                         77
Manual 7-Speed                         73
Automatic (S9)                         29
Auto(AV-S8)                            28
Auto(AM5)                              12
Automatic (AV-S6)                       9
Automatic (S10)                         8
Auto(AM-S8)                             6
Automatic (A1)                          5
Auto(AM8)                               5
Automatic (A6)                          4
Automatic (AV)                          4
Manual(M7)                              3
Auto (AV)                               2
Automatic (AM5)                         2
Auto(L3)                                2
Auto(L4)                                2
Auto (AV-S8)                            1
Auto (AV-S6)                            1
Automatic 6Speed                        1
Manual 5 Speed                          1
Auto(AM-S9)                             1
Automatic (AM6)                         1
Name: count, dtype: int64

In [20]:
data['transmission'] = data['transmission'].str.replace('Automatic','Auto')
data[['transmission', 'gears']] = data['transmission'].str.split(' ', n = 1, expand=True)
data[['transmission', 'gears2']] = data['transmission'].str.split('(', n = 1, expand=True)
data['transmission'].value_counts()

transmission
Auto      24865
Manual    11929
Name: count, dtype: int64

In [21]:
#Data prep for new feature data['gear']
data['gears'].fillna(data['gears2'])
data = data.drop(['gears2'], axis=1)
data['gears'] = data['gears'].str.extract('(\d+)')

In [35]:
#Data prep for data['fuel_type'] feature
data['fuel_type'].value_counts()

fuel_type
Regular                        24230
Premium                        10132
Gasoline or E85                 1223
Diesel                           857
Premium or E85                   122
Midgrade                          77
CNG                               60
Premium and Electricity           25
Gasoline or natural gas           20
Regular Gas and Electricity       20
Premium Gas or Electricity        18
Gasoline or propane                8
Regular Gas or Electricity         2
Name: count, dtype: int64

In [52]:
fuel_df = data.loc[:,['fuel_type','fuel_type_1']]
pd.pivot_table(fuel_df, index='fuel_type', columns='fuel_type_1', aggfunc=len, fill_value=0)

fuel_type_1,Diesel,Midgrade Gasoline,Natural Gas,Premium Gasoline,Premium Plug-in Hybrid,Regular Gasoline
fuel_type,,,,,,
CNG,0,0,60,0,0,0
Diesel,857,0,0,0,0,0
Gasoline or E85,0,0,0,0,0,1223
Gasoline or natural gas,0,0,0,0,0,20
Gasoline or propane,0,0,0,0,0,8
Midgrade,0,77,0,0,0,0
Premium,0,0,0,10132,0,0
Premium Gas or Electricity,0,0,0,0,18,0
Premium and Electricity,0,0,0,25,0,0
Premium or E85,0,0,0,122,0,0
Regular,0,0,0,0,0,24230
Regular Gas and Electricity,0,0,0,0,0,20
Regular Gas or Electricity,0,0,0,0,0,2

In [61]:
data.loc[data['fuel_type'] == 'Premium Gas or Electricity', 'fuel_type_1'] = 'Premium Plug-in Hybrid'
data.loc[data['fuel_type'] == 'Regular Gas or Electricity', 'fuel_type_1'] = 'Regular Plug-in Hybrid'
data.loc[data['fuel_type'] == 'Premium Gas and Electricity', 'fuel_type_1'] = 'Premium Hybrid'
data.loc[data['fuel_type'] == 'Regular Gas and Electricity', 'fuel_type_1'] = 'Regular Hybrid'
data = data.drop(['fuel_type'], axis=1)

In [ ]:
data.describe(include=np.number).round(2) #summarise numeric features
#year should be categorical? or removed

In [ ]:
#data.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)

In [ ]:
data = data.drop_duplicates(subset=data.columns.difference(['vehicle_id'])) #drop duplicate rows